<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <div class="app-cont-style login-cont">
        <img src="images/logo@2x.png" class="" height="30" width="auto" />
        <h5 class="margin-30-0">Find and meet travellers<br>to join you on your trip</h5>
        <img src="images/buddies@2x.png" height="80" width="auto" class="margin-bottom-20" />
        <h5 class="margin-20-0">Sign up to countinue</h5>
        <a class="waves-effect waves-light btn indigo darken-4"><i class="fa fa-facebook-square fa-2x"></i>Sign up with facebook</a>
      </div>
    </div>
  </div>
</div>
